# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\nadav ashkenazi\OneDrive - Technion\Technion\semester_6\Computer Architecture\hw\hw4\ca_hw4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
